.btn-modal {
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #2fafe0;
    color: #FFF;
    transform: scale(1);
    border: none;
    cursor: pointer;
    transition: background-color 1s ease-out;
    margin-top: 20px;
}
@media screen and (max-width: 700px) {
    .btn-modal {
        display: none;
    }
}
.btn-modal:hover {
    background-color: #ee11fd;
}
.modal__title {
   text-align: center;
   font-size: 4rem;
}
.modal__subtitle {
    font-size: 1.125rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.modal__text {
    font-size: 1.125rem;
    max-width: 500px;
    text-align: center;
    margin: 40px auto;
    line-height: 1.5;
}
.btn-close-modal {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: scaleX(1.2);
    font-size: 1.875rem;
    background: none;
}

.btn-close-modal:hover {
    color: #7b70eb;
}

